/* styling the body element i.e. color, font, alignment */

body {
    background-color: #05c46b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

/* styling the form i.e. color, padding, shadow */

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}

/* styling form-control class */
.form-control {
    display: block;
    margin-bottom: 10px;
}

/* styling for input, select and textarea */

.form-control input,
.form-control select,
.form-control textarea{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* styling .form-control radio button and checkbox */

.form-control input[type="radio"],
.form-control input[type="checkbox"]{
    display: inline-block;
    
}

/* styling the button */
button {
    background-color: #05c46b;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

textarea#dateNight, select#dropdown, #name, #email, #number, #music1 {
    margin-top: 10px;
}

button:hover {
    background-color: lightcoral;
}